.side-drawer {
    height: 100%;
    background: #00ABBD;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    max-width: 400px;
    z-index: 200;
}

.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer a {
    color: white;
    text-decoration: none;
}
.side-drawer li{
    margin: 0.5rem 0;
}
.side-drawer a:hover,.side-drawer a:active{
    color: red;
}